.filtered {
    display: flex;
    width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none; /* Убирает обводку поля при фокусе */
  transition: border-color 0.3s;
}
.filtered :focus {
    border-color: #007bff; /* Цвет границы при фокусе */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
  }